extends layouts/broadcaster

block content
  table.table
    tr
      th 
      th 
        h3 Date
      th 
        h3 Time
    tr
     each item in collection
      tr
        td= item.deployed_by
        td= item.date
        td= item.time
      tr.details
        td(colspan="3").content
          = item.content
