.logo{
  width:80px;
}

#date{
  width:90px;
}

#time{
  width:60px;
}
span.spacer{
  padding-left:30px;
}

label.inline{
  display:inline;
}

.long_field{
  width:400px;
}

input.no_float{
  float:none !important;
  margin-bottom: 10px !important;
  margin-right: 6px !important;
}
.feature{
  margin:5px;
  padding:5px;
  clear:none;  
}

td.content, td.content p {
  font-size:13px;
}

select.small_select{
  width:90px;
}

.navbar, .navbar-inner{
  background: #353537 url("/imgs/bg-main-header.png") repeat-x top left;
}

h3 u {
  color: #353537;
}